html, body {
 	height: 100%;
 	width: 100%;
}
#appLogo {
  height: 75%;
  width: 10%;
  margin: 5px;
}
#mainWrapper {
  max-width: 960px;
  margin: 0 auto;
}
#mainWrapper, #mainContent {
  height: 100%;
}
#mainContent li {
  list-style-type: none;
  border: 1px black solid;
  margin-top: 10px;
  padding: 5px;
}
.matches-users {

}
.none {
  display: none;
}
header {
	background-color: #3399FF;
	height: 15%;
	width: 100%;
	padding-top: 1px;  /* to avoid collapsing margins */
}
  