<div class="matches-interests">
	<div class="matches-top"><%= interest %><img class="right icon-expand" src="pics/icon/plus.svg" /></div>
	<div class="matches-userslist none">
		<ul>
		<% _.each(matches, function(matches) { %>
			<li class="matches-users">
				<div class="pic-holder">
					<img src="pics/profile_pic.png" />
                </div> 
				<div class="user-info">
					<div class="user-nal"><%= matches.name %>, <%= matches.city %>, <%= matches.state %></div>
 					<div class="user-distance"><%= matches.distance %> miles away.</div>
				    <div class="user-quote">"This is user's awesome quote"</div>
				</div>
				<div class="user-access">
					<input class="profile-button" type="button" value="Profile" onclick="location.href='#users/<%= matches._id %>'" />
					<input class="profile-button chat-request" type="button" value="Start Chat" />
				</div>
			</li>
		<% }); %>
		</ul>
	</div>
</div>


